
header{background-color: rgba(2, 24, 72, 0.488);
}

body {min-height: 100vh;
      display: flex;
      flex-direction: column;
      background-image: url(/imagenes/suits-1024x540.jpeg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      
}

h1 {color: aliceblue;
   font-family: 'Courier New', Courier, monospace;
   padding: 15; font-size: 30px
}

H2 {color: white; 
  font-family: "Roboto", sans-serif;
  font-size: 25px; 
  text-align: center;
}

p  {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: white;
  }

nav{color: white; font-family: 'Courier New', Courier, monospace;font-size: 20px;}

#net {text-decoration: none; font-weight: bold; color: rgb(246, 244, 244); font-size: 30px;}

.icono-home {
  background-color: rgba(255, 255, 255, 0.373);
  border: 2px solid rgba(34, 33, 33, 0.838); 
  border-radius: 50%; 
  display: inline-block;
  transition: transform 0.3s ease, border-color 0.3s ease;
  padding: 5px;
}

.icono-home:hover {
  
  transform: scale(1.1);
  border-color: rgb(21, 50, 167);
}

#pagPrinc {
display: flex;
padding: 5px 50px;
align-items: center;
justify-content: right;
}

#imgnet {
width: 400px;
height: 300px;
}

.imaGrande {width: 700px;height: 400px;}

.imaChica {width: 700px;height: 350px;}


img {
  display: block;
  margin: 0 auto 1.5rem;
  border-radius: 6px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.contenedor{
  display: flex;
  justify-content: center;}

.sobrelaserie {padding: 5px;
               margin: 5px; 
               background-color: rgba(3, 9, 49, 0.73);}
    
.otros {margin: 10px;
        padding: 1px 2pc;
        background-color: rgba(3, 9, 49, 0.73);

}

.actores {margin: 30px;
          padding: 1px 4px;  
          background-color: rgba(3, 9, 49, 0.73);
          
      
      }

.contac {margin: 60px;
        justify-content: center;
         background-color: rgba(255, 255, 255, 0);}

.temp {margin: 80px; 
      border: 20px; 
      background-color: rgba(3, 9, 49, 0.73);
      
    }

.parafo1 {margin-bottom: 100px;
}


.parafo2 {margin-bottom: 10ex;
         font-family: "Roboto", sans-serif;
}


.t1, .t2, .t3 {background-color:  rgba(46, 45, 45, 0.778);
     padding: 10px;
     display: flex;
     text-align: justify;
     margin: 10px;
     gap: 30%;
}


.musiFondo {
  position: fixed;
  bottom: 10px;
  left: 10px;
  padding: 2px;
  border-radius: 12px;
  z-index: 1000;
}

.musiFondo audio {
   width: 200px;
   left: 100px;
}

#temporadas {
font-family: "Roboto", sans-serif;

}


.formulario {
background-color: rgba(5, 5, 5, 0.752);
padding: 20px;
}

form{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 90%;
  margin: 0 auto;
  gap: 20px;
}

label{
display: flex;
flex-direction: column;
color: white;
font-family: "Roboto", sans-serif;

}

input {
height: 30px;
}


#boton {
  font-size: 1.1rem;
  border-radius: 12px;
  width: 100%;
  padding: 0.6rem;
  background-color: #000;
  color: brown;
  border: none;
}


@media (max-width: 768px) {

  h1 {
     font-size: 20px;
  }

  h2 {color: white; 
  
  font-size: 18px; 
  
}

nav, p  {
  font-size: 1rem;
  }


.contenedor{
  display: flex;
  flex-direction: column;
  justify-content: center;}            
    
body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  }



.imaGrande, .imaChica  {

           max-width: 80%;
           height: auto;
           margin-left: 10%;
           margin-right: 10%;
          }

.sobrelaserie{
justify-content: center;
max-width: 80%;
margin-left: 10%;
margin-right: 10%;

}

img {
  width: clamp(60px, 20vw, 100px);
  height: auto;

}


.t1, .t2, .t3 {
     display: flex;
     flex-direction: column;
     padding: 10px;
     margin: 10px;
     gap: 30%;
}

.temp {margin: 30px; 
      border: 20px; 
      
    }

  #net {
    font-size: 15px;

  }

  #imgnet {
    max-width: 80%;
    height: auto;
  }
  
  input, textarea, button {
    max-width: 100%;
    height: auto;
    font-size: 1rem;
    padding: 0.8rem; 
}

.ocultarTexto {
  display: none;
}




}